.main-container{
  border-radius: 20px;
  width: 60px;
  height: 60px;
  animation: anime 3s cubic-bezier(0.16, 1, 0.3, 1);
  /* animation-fill-mode: forwards; */
  animation-fill-mode: forwards;  

  background-color: var(--opposite);
  color: var(--text-primary);
}

.profile{
  position: relative;
  top: -100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile-photo{
  background-image: url("../Images/profile.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px; height: 200px;
  border-radius: 20px;
  z-index: 99;
  animation: scale 3s ease-in-out forwards;
}

.profile-typewriter{ 
  position: relative;
  visibility: hidden;
  top: -90px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: showTypewriter 1s ease-in-out forwards;
  animation-delay: 3s;
}
.profile-social{
  position: relative;
  top: -40px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:4rem;
  animation: bounce .5s ease-in-out forwards;
  animation-delay: 3s;
}
.profile-social svg{
  visibility: hidden;
  animation: socialScale 1s ease-in-out forwards;
  animation-delay: 2s;
}
@keyframes showTypewriter {
  from{
    visibility: hidden;

  }
  to{
    visibility: visible;
  }
}
@keyframes socialScale {
  0%{
    transform: scale(0);
    visibility: visible;
  }
  100% { 
    transform: scale(1);
    visibility: visible;
  }
}

@keyframes bounce {
  0%{
    gap: 4rem;
    visibility: visible;
  }
  70%{gap: 0rem;}
  100% { 
    gap: 1rem;
    visibility: visible;
  }
}

@keyframes scale {
  0%{transform: scale(0);}
  75%{transform: scale(0);}
  100% { transform: scale(1);}
}

@keyframes anime {
  0% {
  width: 60px;
  height: 60px;
  overflow: hidden;

  }
  25% {
  width: 60px;
  height: 60px;
  overflow: hidden;
  }
  50% {
  width: 60px;
  height: 240px;
  overflow: hidden;

  }
  100% {
  width: 480px;
  height: 240px;  
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}