/* new */
.submarine{
  position: fixed;
  top: 0; left: 0;
  width : 800px; height : 100%;
}

.home-container{
  position: fixed;
  top: 0; right: 0;
  width: calc(100% - 800px); height : 100%;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
    inset -6px -6px 10px 0 var(--background);
}
.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.profile p{
  font-family: 'Trebuchet MS', sans-serif;
  margin-top: 20px;
  font-size: 24px;
  animation: scale 2s ease-in-out forwards;
}

.profile-photo{
  background-image: url("../Images/profile.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px; height: 200px;
  border-radius: 100%;
  animation: scale 2s ease-in-out forwards;
}

.profile-social{
  position: fixed;
  bottom: 20px;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:4rem;
  animation: bounce .5s ease-in-out forwards;
  animation-delay: 2s;
}
.profile-social svg{
  visibility: hidden;
  animation: socialScale 1s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes socialScale {
  0%{
    transform: scale(0);
    visibility: visible;
  }
  100% { 
    transform: scale(1);
    visibility: visible;
  }
}

@keyframes bounce {
  0%{
    gap: 4rem;
    visibility: visible;
  }
  70%{gap: 0rem;}
  100% { 
    gap: 1rem;
    visibility: visible;
  }
}

@keyframes scale {
  0%{transform: scale(0);}
  75%{transform: scale(0);}
  100% { transform: scale(1);}
}

@media (max-width: 1200px) {
  .home-container { width: 100% }
}