.gradient-background {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    z-index: -99;
    background: linear-gradient(300deg,#040F0F,#248232,#2BA84A);
    background-size: 180% 180%;
    animation: gradient-animation 14s ease infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-icon{
    margin: 5px;
    color: var(--background);
    cursor: pointer;
}
.pc-menu{
    width: 100%;
    display: flex;
    justify-content: center;
}
.pc-menu-item{
    margin: 5px;
    padding:5px 30px;
    background-color: var(--background);
    border-radius: 7px;
    letter-spacing: 1px;
    font-size: 16px;
    transform: skew(-21deg);
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    cursor: pointer;
    color: var(--opposite);
}

.menu-icons{
    padding: 5px 10px;
}

.pc-menu-item:hover, .pc-menu-item:hover svg{
    background-color: var(--opposite);
    color: var(--background);
}

.pc-menu-item-title{
    transform: skew(21deg);
}

.pc-menu-item svg{
    color: var(--opposite);
}

.menu{
    background-color: var(--background);
    width: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: fixed;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
.menu a, .menu button{
    display: flex;
    justify-content: center;
    padding: 10px 0;
    width: 100px;
}

.menu a, .menu button, .pc-menu a{
    color: var(--text-primary);
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.menu a{
    border-bottom: 1px solid var(--opposite);
}

/* animation for showing menu */
@-webkit-keyframes SHOW-BOX {
    0%   { width: 0px; }
    100% { width: 100px; }
}
@-moz-keyframes SHOW-BOX {
    0%   { width: 0px; }
    100% { width: 100px; }
}
@-o-keyframes SHOW-BOX {
    0%   { width: 0px; }
    100% { width: 100px; }
}
@keyframes SHOW-BOX {
    0%   { width: 0px; }
    100% { width: 100px; }
}

.show-menu {
    -webkit-animation: SHOW-BOX 1s ease;
    -moz-animation: SHOW-BOX 1s ease;
    -o-animation: SHOW-BOX 1s ease;
    animation: SHOW-BOX 1s ease;
}